* {
  margin: 0;
}
html {
  font-size: 62.5%;
}
.list_marker_position li {
  background-color: yellow;
  color: rgb(255, 255, 233);
  font-size: 2.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  list-style-position: inside;
}

.list_marker_position ::marker {
  color: red;
  font-size: 2.6rem;
  font-weight: 600;
  font-family: inherit;
  font-style: italic;
}
hr {
  margin-bottom: 20px;
}
/*********************************/
/* p13 */
/*********************************/
.list_marker li {
  list-style-image: url(../assets/iamges/verified_7641727.png);
}
/**********************p14************/
.list_marker_styles {
  list-style: inside decimal;
  font-size: 3.2rem;
}
.list_marker_styles li {
  background-color: aqua;
  margin-bottom: 10px;
}
